@charset "UTF-8";

.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}

.map-container{
	min-height: 800px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin: 40px 0;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #FAE0D4;
    display: inline-block;
    padding-bottom: 10px;
}

#map {
    width: 650px;
    height: 550px;
    margin: 0 auto; /* 수평 중앙 정렬 */
    background-color: #f9f9f9; /* 배경색 일관성 유지 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

@media (max-width: 768px) {
    #map {
        width: 90%;
        height: 300px;
    }
    
    main h1 {
        font-size: 2rem;
        margin: 30px 0;
    }
}

@media (max-width: 480px) {
    #map {
        width: 100%;
        height: 250px;
    }
    
    main h1 {
        font-size: 1.8rem;
        margin: 20px 0;
    }
}

