@charset "UTF-8";

main {
	min-height: 600px;
}

.login-form {
    background-color: #ffffff;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px; /* 내부 여백을 조금 더 줍니다 */
    border: 1px solid #ddd;
    border-radius: 12px; /* 둥근 테두리 */
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
    transition: box-shadow 0.3s ease; /* 호버 시 부드럽게 효과 */
}

.login-form:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15); /* hover 시 그림자 강조 */
}

.login-form h3 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 40px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: box-shadow 0.3s ease; /* 부드러운 애니메이션 */
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    box-shadow: 0 0 10px rgba(78, 192, 16, 0.3); /* 포커스 시 필드 강조 */
    border-color: #4ec010; /* 초록색 테두리 */
}

button {
    background-color: #4ec010;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    width: calc(100% - 40px);
    padding: 12px;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* 버튼 애니메이션 */
}

button:hover {
    background-color: #3a960d; /* hover 시 어두운 초록색 */
    transform: translateY(-3px); /* 살짝 떠오르는 효과 */
}

button:active {
    background-color: #36770b; /* 클릭 시 더 어두운 색상 */
    transform: translateY(0); /* 클릭 시 원래 위치 */
}

.login-form h5 {
    text-align: center;
    margin: 10px 0;
    color: black;
    cursor: pointer;
}

.login-form h5:hover {
    text-decoration: underline;
}

.link_group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.link_group .link {
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.link_group .link:hover {
    color: #d95050; /* hover 시 빨간색으로 변화 */
    text-decoration: underline;
}

.kakao-login-btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    background-color: #FEE500;
    color: #3C1E1E;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}
.kakao-login-btn:hover {
    background-color: #FDD835;
}