@charset "UTF-8";

footer {
    background-color: #FAE0D4;
    color: white;
    text-align: left;
    padding: 20px;
    width: 100%; /* 푸터의 너비를 header와 동일하게 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    padding-left: 20px; /* 왼쪽 여백 */
}

footer p {
    margin: 10px 0;
    color : black;
    text-align: center;
    font-weight: 700;
    
}