@charset "UTF-8";

footer {
    background-color: #FAE0D4;
    color: white;
    text-align: center;
    padding: 30px 0;
    width: 100%; 
    margin-top: 20px;
    min-height: 150px;
    position: relative;
    bottom: 0;
    
}

footer p {
    margin: 10px 0;
    color : black;
    text-align: center;
    font-weight: 700;
    
}