<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>내정보</title>
<link rel="stylesheet" href="/css/member/myinfo.css">
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
		<main>
			<div class="container">
		    	<div class="sidebar">
		       		 <button class="menu" onclick="openPasswordModal()">정보 수정</button>
		        	 <button class="menu" onclick="window.location.href='/member/myReserveList'">내가 예약한 목록</button>
		    	</div>  	
			</div>
	    </main>
	

	<div id="passwordModal" class="modal" style="display: none;">
		<div class="modal-content">
			<span class="close" onclick="closePasswordModal()">&times;</span>
	        <h2>비밀번호 확인</h2>
	        <label for="password">비밀번호 :</label>
	        <input type="password" id="password" name="password" required placeholder="비밀번호  |  PASSWORD">
	        <button class="modalbutton" onclick="checkPassword()">확인</button>
	        <p id="error-message" style="color: red; display: none;">비밀번호가 일치하지 않습니다.</p>
		</div>
	</div>    
	<div th:replace="~{layout/footer :: footer}"></div>	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script>
		function openPasswordModal() {
			document.getElementById("passwordModal").style.display = "block";
		}
		
		function closePasswordModal() {
	        document.getElementById("passwordModal").style.display = "none";
	    }

	    function checkPassword() {
	        const password = document.getElementById("password").value;
	        $.ajax({
	            type: "POST",
	            url: "/member/checkPassword",
	            data: {password: password},
	            success: function(response) {
	                if (response === "success") {
	                    window.location.href = "/member/updateMyinfo"; // 정보 수정 페이지로 이동
	                } else {
	                    document.getElementById("error-message").style.display = "block";
	                }
	            },
	            error: function() {
	                alert("오류가 발생했습니다. 다시 시도해주세요.");
	            }
	        });
	    }
	</script>
</body>
</html>












