<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>예약 가능한 구장</title>
<link rel="stylesheet" href="/css/reservation/list.css">
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
	<div th:replace="~{layout/nav :: nav}"></div>
		<main class="reservation-main">
			
			<form th:action="@{/reservation/list}" method="get" class="search-form">
			    <label for="date">날짜 선택 : </label>
			    <input type="date" id="date" name="date" th:value="${selectedDate}" class="search-input">
			    <button type="submit" class="search-button">검색</button>
			    <button type="button" class="list-button" th:onclick="|window.location.href='@{/reservation/list(page=1, size=10)}'|">모든구장</button>
			</form>
			
		
		    <h2 class="reservation-title">| 예약 가능 구장 |</h2>
		    <div class="field-card-container">
		        <div class="field-card" th:each="field : ${fieldPage.content}">
		            <a th:href="@{/reservation/detail/{id}(id=${field.fId})}">
		                <img th:if="${field.fieldName == '상무 챔피언스 필드'}"
		                     th:src="'/images/sangchem.png'"
		                     class="field-image">
		                <img th:if="${field.fieldName == '신화 풋살장'}"
		                     th:src="'/images/sinhwa.png'"
		                     class="field-image">
		            </a>
		            <div class="field-info">
		                <p><strong>구장 이름:</strong> <span th:text="${field.fieldName}"></span></p>
		                <p><strong>구장 번호:</strong> <span th:text="${field.fieldNumber}"></span></p>
		                <p><strong>날짜:</strong> <span th:text="${field.fieldDate}"></span></p>
		                <p><strong>시간:</strong> <span th:text="${field.fieldTime}"></span></p>
		                <p><strong>주소:</strong> <span th:text="${field.fieldAddr}"></span></p>
		                <p><strong>비용:</strong> <span th:text="${field.fieldCost}"></span></p>
		            </div>
		        </div>
		    </div>
		
		    <div class="pagination-container" th:if="${fieldPage.totalElements > 0}">
		        <ul>
		            <li class="page-item" th:if="${currentPage > 1}">
		                <a class="page-link" th:href="@{/reservation/list(page=${currentPage - 1}, size=${fieldPage.size})}" tabindex="-1">이전</a>
		            </li>
		            
		            <li class="page-item" th:each="page : ${#numbers.sequence(1, fieldPage.totalPages)}" 
		                th:classappend="${currentPage == page} ? 'active' : ''">
		                <a class="page-link" th:href="@{/reservation/list(page=${page}, size=${fieldPage.size})}" th:text="${page}">1</a>
		            </li>
		            
		            <li class="page-item" th:if="${currentPage < fieldPage.totalPages}">
		                <a class="page-link" th:href="@{/reservation/list(page=${currentPage + 1}, size=${fieldPage.size})}">다음</a>
		            </li>
		        </ul>
		    </div>
		    <p class="noReserve" th:if="${fieldPage.totalElements ==0}"><strong>예약 가능한 구장이 없습니다.</strong></p>
		</main>
	<div th:replace="~{layout/footer :: footer}"></div>	
</body>
</html>