<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>구장검색</title>
<link rel="stylesheet" href="/css/reservation/search.css">
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
	<div th:replace="~{layout/nav :: nav}"></div>
		<div class="map-container">
			<main>
				<h1>구장검색</h1>
				<div id="map"></div>
			</main>
		</div>
		
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3679740e0d48dfddb40e5f54e52d1ae7"></script>
				<script>
				var container = document.getElementById('map');
				var options = {
					center: new kakao.maps.LatLng( 35.153450688800966, 126.88798796195087),
					level: 7
				};
		
				var map = new kakao.maps.Map(container, options);
				
	//     ===========================================================================			
		
			var imageSrc = '/images/marker.png', // 마커이미지의 주소입니다    
			    imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
			    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
			
			// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
			var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
			    markerPosition = new kakao.maps.LatLng(35.153450688800966, 126.88798796195087); // 마커가 표시될 위치입니다
			
			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
			  position: markerPosition,
			  image: markerImage // 마커이미지 설정 
			});
			
			// 마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);  
			
			// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
			var content = '<div class="customoverlay">' +
			    '  <a href="https://map.naver.com/p/search/%ED%95%9C%EC%9A%B8%EC%A7%81%EC%97%85%EC%A0%84%EB%AC%B8%ED%95%99%EA%B5%90/place/11886841?c=15.00,0,0,0,dh&isCorrectAnswer=true" target="_blank">' +
			    '    <span class="title">한울직업전문학교</span>' +
			    '  </a>' +
			    '</div>';
			
			// 커스텀 오버레이가 표시될 위치입니다 
			var position = new kakao.maps.LatLng(35.153450688800966, 126.88798796195087);  
			
			// 커스텀 오버레이를 생성합니다
			var customOverlay = new kakao.maps.CustomOverlay({
			    map: map,
			    position: position,
			    content: content,
			    yAnchor: 1 
			});  
			
//  ====================================================================================			
	
	
			var imageSrc = '/images/marker.png', // 마커이미지의 주소입니다    
			    imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
			    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
			
			// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
			var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
			    markerPosition = new kakao.maps.LatLng(35.16741600201026, 126.83890564255962); // 마커가 표시될 위치입니다
			
			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
			  position: markerPosition,
			  image: markerImage // 마커이미지 설정 
			});
			
			// 마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);  
			
			// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
			var content = '<div class="customoverlay">' +
			    '  <a href="https://map.naver.com/p/search/%EC%83%81%EB%AC%B4%EC%B1%94%EC%8A%A4%20%ED%92%8B%EC%82%B4%EC%9E%A5/place/1534432221?c=15.00,0,0,0,dh&isCorrectAnswer=true" target="_blank">' +
			    '    <span class="title">상무챔스 풋살장</span>' +
			    '  </a>' +
			    '</div>';
			
			// 커스텀 오버레이가 표시될 위치입니다 
			var position = new kakao.maps.LatLng(35.16741600201026, 126.83890564255962);  
			
			// 커스텀 오버레이를 생성합니다
			var customOverlay = new kakao.maps.CustomOverlay({
			    map: map,
			    position: position,
			    content: content,
			    yAnchor: 1 
			});
			
// ==========================================================================			
				
			var imageSrc = '/images/marker.png', // 마커이미지의 주소입니다    
			    imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
			    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
			
			// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
			var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
			    markerPosition = new kakao.maps.LatLng(35.203809339158326, 126.81451229937039); // 마커가 표시될 위치입니다
			
			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
			  position: markerPosition,
			  image: markerImage // 마커이미지 설정 
			});
			
			// 마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);  
			
			// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
			var content = '<div class="customoverlay">' +
			    '  <a href="https://map.naver.com/p/search/%EC%8B%A0%ED%99%94%20%ED%92%8B%EC%82%B4%EC%9E%A5/place/35630056?c=15.00,0,0,0,dh&isCorrectAnswer=true" target="_blank">' +
			    '    <span class="title">신화 풋살장</span>' +
			    '  </a>' +
			    '</div>';
			
			// 커스텀 오버레이가 표시될 위치입니다 
			var position = new kakao.maps.LatLng(35.203809339158326, 126.81451229937039);  
			
			// 커스텀 오버레이를 생성합니다
			var customOverlay = new kakao.maps.CustomOverlay({
			    map: map,
			    position: position,
			    content: content,
			    yAnchor: 1 
			});		
	
// =============================================================================	
			
			
				
			</script>
		<div th:replace="~{layout/footer :: footer}"></div>	
</body>




</html>