<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:fragment="header">
<script>
	function logout() {
		if(confirm("로그아웃 하시겠습니까?")) {
			return true;
		}
		
			return false;
	}
</script>

	<link rel="stylesheet" href="/css/layout/header.css">
	<header>
		 <a href="/Gwangs/main" class="logo-title">
            <h1>광스<span>광주 스팟</span></h1>
            <img src="/images/logo.png" alt="로고" class="logo">
        </a>
        
        
        <div class="user-options" sec:authorize="isAnonymous()">
            <a href="/Gwangs/terms">회원가입</a>
            <a href="/Gwangs/login">로그인</a>
        </div>
        
        
         <div class="user-options" sec:authorize="isAuthenticated">
            <p>안녕하세요  [[${userName}]] 님!</p>
            <a href="/member/myinfo">내정보</a>
            <a href="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EA%B4%91%EC%A3%BC+%EB%82%A0%EC%94%A8" target="_blank">오늘의 날씨</a>
            <a href="/logout" onclick="return logout()">로그아웃</a>
        </div>
	</header>
</th:block>
</html>