<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:fragment="nav">
	<link rel="stylesheet" href="/css/layout/nav.css">
	
	<!-- 로그인 안한 유저만 -->
		<nav sec:authorize="isAnonymous()">
	        <ul>
	            <li><a href="#">구장 예약</a></li>
	            <li><a href="#">구장 검색</a></li>
	            <li><a href="#">용병등록 / 찾기</a></li>
	            <li><a href="#">팀원 모집</a></li>
	            <li><a href="#">매치 등록</a></li>
	        </ul>
   		</nav>
   		
   		
   	<!-- 로그인 한 유저만 가능한  -->	
		<nav sec:authorize="isAuthenticated()">
	        <ul>
	            <li><a th:href="@{/reservation/list(page=1, size=10)}">구장 예약</a></li>
	            <li><a href="/reservation/search">구장 검색</a></li>
	            <li><a href="/board/list">용병등록 / 찾기</a></li>
	            <li><a href="#">팀원 모집</a></li>
	            <li><a href="#">매치 등록</a></li>
	        </ul>
   		</nav>
</th:block>
</html>