@charset "UTF-8";

main {
    display: 100%;
    background-color: #f8f8f8;
    padding-left: 200px;
}

.container {
    display: flex;
    width: 100%;
    padding-left: 200px;
}

.sidebar {
    width: 25%;
    background-color: #91e56e;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 1000px;
}

.menu {
    background-color: #5baf40;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    margin: 10px 0;
    border: none;
    text-align: left;
    cursor: pointer;
}

.menu:hover {
    background-color: #499935;
}