@charset "UTF-8";

main {
    display: 100%;
    background-color: #f8f8f8;
    padding-left: 200px;
}

.container {
    display: flex;
    width: 100%;
    padding-left: 200px;
}

button.menu-item {
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.menu-item:hover {
    background-color: #9b3c24;
    transform: translateY(-2px);
}

.check_nick {
    background-color: #2e313d;
    color: white;
    border: none;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 5px;
}

.check_nick:hover {
    background-color:#565b72;
}

/* 사이드바 */
.sidebar {
    width: 25%;
    background-color: #b46358;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 1000px;
}

/* 사이드바 메뉴 아이템 */
.menu-item {
    background-color: #762f1c;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    margin: 10px 0;
    border: none;
    text-align: left;
    cursor: pointer;
}


h2 {
	padding-bottom: 15px;
	color: #008080;
}
.content {
    padding: 20px;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 200px;
    background-color: #a9ca9f;
    margin-top: 20px;
    height: 550px;
    font-family: 'Arial', sans-serif;
}

form{
	height: 30px;
	color : #333;
	font-weight: 800;
}

form label {
    display: inline-block;
    width: 100px;
}

form input {
    margin-bottom: 10px;
    padding: 7px;
    width: 200px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 15px;
    background-color: #f1eae0;
}

.button1 {
    display: flex;
    gap: 15px; 
}

.button1 button {
    background-color: #2e313d;
    color: white; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.button1 button:hover {
    background-color: #565b72; 
}

.button1 button.delete-btn {
    background-color: #ff4d4d;
    color: white; 
}

.button1 button.delete-btn:hover {
    background-color: #e60000; 
}

/* 회원 탈퇴 버튼을 오른쪽으로 이동 */
.button1 button:nth-child(3) {
    margin-left: 200px; 
}