<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>광스</title>
<link rel="stylesheet" href="/css/Gwangs/signupSuccess.css">
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
		<main>
			<h1>환영합니다!!</h1>
			<h3>광스는 회원님들을 위해</h3> <br>
			<h3>보다 좋은 서비스를 받을 수 있도록 노력하겠습니다.</h3> <br>
			<h3>감사합니다 :)</h3>
			<a href="/Gwangs/main">
			<button type="submit">메인으로</button>
			</a>
		</main>
	<div th:replace="~{layout/footer :: footer}"></div>	
</body>
</html>