<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>관리자</title>
<link rel="stylesheet" href="/css/admin/list.css">
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
	<div th:replace="~{layout/nav :: nav}"></div>
		<main>
			<h1>관리자 리스트</h1>
			<a href="/admin/memberList">회원 관리</a>
			<a href="/admin/managerRegister">매니저 등록</a>
			<a href="">만보기 기록</a>
		</main>
		
	<div th:replace="~{layout/footer :: footer}"></div>	
</body>
</html>