@charset "UTF-8";

body {
    background-color: white;
    margin: 0;
    padding: 0;
}
main h1 {
	margin-bottom: 40px;
	font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    min-height: 80vh;
}

main a {
    display: inline-block;
    padding: 30px 45px;
    margin: 15px 0;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}



main a:nth-child(2) {
    background-color:  #8db880; 
}

main a:nth-child(2):hover {
    background-color: #649755; 
}

main a:nth-child(3) {
    background-color: #c5a16f;
}

main a:nth-child(3):hover {
    background-color: #9f7740;
}